[alias]
    l = log --oneline --decorate -n 15 # Output 15 commits, one per line
    lu = log --oneline @{u}            # List unpushed commits
    out = diff @{u}                    # Show unpushed changes
    root = rev-parse --show-toplevel
[commit]
    verbose = true
[core]
    attributesfile = ~/.gitattributes
    editor = nvim
    excludesfile = ~/.gitignore-global
    pager = delta
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[diff "dyff"]
    command = "dyff_between() { dyff --color on between \"$2\" \"$5\"; }; dyff_between"
[delta]
    line-numbers = true
    navigate = true
[init]
    defaultBranch = main
[interactive]
    fillFilter = delta --color-only
[pull]
    default = current
    ff = only
[user]
    email = launchpad@planet-tiax.de
    name = Florian Heinle
